include README.md
include LICENSE
include MANIFEST.in
recursive-include opps/admin/locale *
recursive-include opps/admin/static/opps/admin/css *
recursive-include opps/admin/static/opps/admin/js *
recursive-include opps/admin/static/opps/admin/vendor *
recursive-include opps/admin/templates *